#Ignore Data files
Data/
!Data/*.xml
 
logs/
#Ignore tree files
*.trees
*.nwk
*.traj
*.xml
*.nex
#Ignore png files
*.png
#Ignore fasta files
*.fasta

.DS_Store
description
HEAD
config

project-1.2-epidata/msv_zkiph2_2025-03-03_header.csv