# Ignore everything in Data directory except XML files
Data/*
!Data/**/
!Data/**/*.xml

# Ignore all XML files except those in Data directory
!*.xml
Data/**/*.csv
Data/**/*.png
Data/**/*.fasta
Data/**/*.nwk
Data/**/*.trees
Data/**/*.nex
Data/**/*.traj

logs/
#Ignore tree files
*.trees
*.nwk
*.traj
*.nex
#Ignore png files
*.png
#Ignore fasta files
*.fasta

.DS_Store
description
HEAD
config

project-1.2-epidata/msv_zkiph2_2025-03-03_header.csv